<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574923192048-jl5bo9tdthg9ukvr9pnipflad3u64c4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574923192048-jl5bo9tdthg9ukvr9pnipflad3u64c4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6woNZOsFEM23VuhP-tY59I3QAEcwE_0</string>
	<key>GCM_SENDER_ID</key>
	<string>574923192048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remottely.remottelykey</string>
	<key>PROJECT_ID</key>
	<string>remottely-key-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>remottely-key-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574923192048:ios:7da59e9e2a4583a7ba3435</string>
	<key>DATABASE_URL</key>
	<string>https://remottely-key-firebase.firebaseio.com</string>
</dict>
</plist>